body {
    font-family: sans-serif;
    height: 100vh;
}
.early {
    background: linear-gradient(#03f,#fcc);
}
.emails {
    background: linear-gradient(rgb(128, 66, 66),#500);
}
.projects {
    background: linear-gradient(90deg,#afa,#faf);
}
.warning {
    background: linear-gradient(45deg,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0,#f00,#ff0);
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.title {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    line-height: 0.8;
    margin-bottom: 0;
    margin-top: 0;
}
.desc {
    color: #fff;
    margin-top: 4%;
    margin-bottom: 0;
}
.clock {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-family: Courier, monospace;
    font-weight: bold;
}
.install {
    display: none; /* for now */
}
.hide {
    display: none;
}
/* #snackbar {
    display: none;
}
#snackbar.show {
    display: block;
} */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
@-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
}
@keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
}
.reload {
    font-weight: bold;
    text-decoration: underline;
}
/* body {
    background: linear-gradient(#afa,#faf) !important;
} */