body {
    font-family: sans-serif;
}
.early {
    background: linear-gradient(#03f,#fcc);
}
.emails {
    background: linear-gradient(rgb(128, 66, 66),#500);
}
.projects {
    background: linear-gradient(90deg,#afa,#faf);
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.title {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}
.desc {
    color: #fff;
}
.clock {
    color: #fff;

}
/* body {
    background: linear-gradient(#afa,#faf) !important;
} */